.scroll{

    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;

}
p{
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;


}
.buttoCerrarDialog{

float: right;

}